<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="filePathName" value="C:\Users\chuanh\Documents\workspace\C#\Readfile\Readfile\AMS_Trigger_Sample Output_01 2014.xlsx"/>
  </appSettings>
</configuration>