<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="sourcePath" value="\\internal\users\chuanh\desktop"/>
    <add key="destinationPath" value="\\internal\prodwebs\NLFDocUp\Upload\chuan_test\"/>-->
    <add key="sourcePath" value="\\internal\users\chuanh\desktop\Empty\"/>
    <add key="destinationPath" value="\\internal\prodwebs\NLFDocUp\Upload\chuan_test\Empty\"/>
  </appSettings>
</configuration>